.about-page {
    .about-top {
        .right-img {
            // width: 100%;
            img {
                width: 700px;
                height: 100%;
            }
        }
        display: flex;
        .right-about {
            padding: 4rem 4rem 5rem 5rem;
            color: white;
            background: #020516;
            h3 {
                font-size: 1.7rem;
                text-align: center;
                margin-bottom: 2rem;
            }
            p {
                font-size: 1.3rem;
                line-height: 1.8;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .about-top {
        padding-bottom: 5rem !important;
    }
    .right-img {
        display: none;
    }
    .right-about {
        margin-bottom: 5rem;
        padding: unset !important;
        h3 {
            margin: 6rem 0 6rem 0 !important;
            line-height: 1.5;
            font-size: 1.2rem !important;
            // text-align: start !important;
        }
        p {
            text-align: center !important;
        }
    }
    .right-about-content2 {
        padding-bottom: 7rem;
    }
}































































































// .about{
    
// }


// .about-page{
//     // display: flex;

//     .about-top{
//         display: flex;
//         justify-content: space-around;
//         .right-img{
//             img{
//                 width: 45vw;
//                 // height: 400px;
//                 // display: none;

//             }
//         }
        
//         .right-about{
//             // display: grid;
//             // justify-content: center;
//             // align-items: center;
//             padding: 3rem;
//             background-color: #020516;
            
    
//             h3{
//                 color: #fff;
//             font-weight: 500;
//             font-size: 1.88rem;
//             width: 40vw;
//             }

//             p{
//                 margin-top: 2rem;
//                 color: #fff;
//                 font-size: 1.272rem;
//             }
//         }
    
//     }
// .mission-section{
//     margin-top: 3rem;
//     // display: flex;
//     h2{
//         font-size: 2.5rem;
//         color: #020516;
//         font-weight: 600;
//         text-align: center;
//     }
//     .mission{
//         padding: 5rem;
//         display: flex;
//         img {
//                 width: 100vw;
//                 height: 400px;
//                 // display: none;
        
//             }
//         p{
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             font-size: 1.472rem;
//             padding: 6rem;
//            text-justify: distribute; 
//         }
//     }
// }
   
// }


// @media screen and (max-width: 960px) {
//     .about {}
        
//         .about-page {
//             // display: flex;
    
//             .about-top {
//                 display: flex;
//                 justify-content: space-around;
//                 flex-direction: column;
    
//                 .right-img {
//                     img {
//                         width: 100vw;
//                         height: 300px;
//                         display: none;
    
//                     }
//                 }
    
//                 .right-about {
//                     // display: grid;
//                     // justify-content: center;
//                     // align-items: center;
//                     padding: 1.5rem;
//                     background-color: #020516;
//                     text-align: center;
//                     width: 100vw;
    
//                     h3 {
//                         color: #fff;
//                         font-weight: 600;
//                         font-size: 1.28rem;
//                         width: 90vw;
                        
//                     }
    
//                     p {
//                         margin-top: 2rem;
//                         color: #fff;
//                         font-size: 1rem;
                        
//                     }
//                 }
    
//             }
    
//             .mission-section {
//                 margin-top: 4rem;
//                 text-align: center;
    
//                 // display: flex;
//                 h2 {
//                     font-size: 1.5rem;
//                     color: #020516;
//                     font-weight: 600;
//                     text-align: center;
//                     margin-bottom: 20px;
//                 }
    
//                 .mission {
//                     padding: 0px;
//                     display: flex;
//                     flex-direction: column-reverse;
//                     width: 100vw;
//                     text-align: center;
//                     img {
//                             width: 100vw;
//                             height: 300px;
//                             display: none;
                    
//                         }
//                     p {
//                         display: flex;
//                         justify-content: center;
//                         align-items: center;
//                         font-size: 1rem;
//                         padding: 20px;
//                         text-justify: distribute;
//                         // text-align: center;
//                     }
//                 }
//             }
    
//         }
// }