.book-btn {
    .home-hero-button {
      width: 100%;
      padding: 1rem 2rem;
      color: #eee;
      font-size: 20px;
      border: none;
      font-size: 20px;
      font-weight: 400;
      background: #5441f3;
      border-radius: 8px;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }