.feelingbetter {
  width: 88%;
  margin: 8rem auto;
  .feel-better {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    column-gap: 20rem;
    .card-wrapper-container {
        .card-wrapper {
            position: relative;
            .card-body {
                background: #D35CC7;
                width: 18rem;
                height: 15.5rem;
                position: absolute;
                z-index: -1;
            }
            .card-img {
                img {
                    width: 100%;
                    height: 250px;
                    transform: translate(50%, 15%);
                }
            }
        }
    }
    .content-text {
      font-weight: 400;
      font-size: 20px;
        width: 50%;
        p {
          color: #606161;
          line-height: 1.8;
          margin-bottom: 3rem;
        }
        .btn-feeling-better {
            width: 70%;
        }
    }
  }
}

@media screen and (max-width: 1024px) {
    .feel-better {
        flex-direction: column;
        .card-wrapper-container {
            .card-wrapper {
                .card-body {
                    display: none;
                    position: relative;
                }
                .card-img {
                    &::after {
                        content: "";
                        position: absolute;
                        background: #D35CC7;
                        width: 150px;
                        height: 100px;
                        top: -1rem;
                        right: -1rem;
                        z-index: -1;
                    }
                    img {
                        transform: translate(0%, 0%) !important;
                    }
                }
            }
        }
        .content-text {
            width: 90% !important;
            p{
                margin-top: 3rem;
                font-size: 1rem;
                text-align: center;
            }
            .btn-feeling-better {
                width: 85% !important;
                margin: auto;
            }
        }
    }
}
