.blog-page {
    margin-top: 5rem;
    .top-section {
        width: 45%;
        margin-left: 6%;
        margin-bottom: 7rem;
        // margin: ;
        h1 {
            line-height: 1.8;
            .heading-dark {
                font-weight: 600;
                font-style: italic;
                font-size: 4rem;
                text-shadow: 0px 4px 4px rgba(11, 140, 132, 0.3);
                img {
                    width: 60px;
                    height: 65px;
                    transform: translateY(-10px);
                }
            }
            .heading-light {
                font-size: 3rem;
                font-style: italic;
                color: #4B4C59;
                text-shadow: 0px 4px 4px rgba(11, 140, 132, 0.3);
            }
        }
    }

    .bottom-section {
        padding-bottom: 10rem;
        .context-container {
            display: flex;
            align-items: center;
            width: 88%;
            margin: 0 auto;
            .context {
                width: 94%;
                p {
                    // padding-top: 3.5rem;
                    font-size: 1.9rem;
                    line-height: 1.8;
                }
            }
            .context-image-container {
                width: 100%;
                img {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .top-section {
        width: unset !important;
    }
    .heading-dark {
        font-size: 2rem !important;
    }
    .heading-light {
        font-size: 2rem !important;
    }
    .context {
        p {
            img {
                height: 50px;
            }
        }
    }
    .bottom-section {
        h2 {
            font-size: 2rem !important;
        }
        .context-container {
            flex-direction: column;
            .context {
                p {
                    text-align: center;
                }
            }
        }
    }
}










// .blog-page{
//     padding: 0 5rem 0 5rem;

// .top-section{
//     .heading{
//         text-align: left;
//         .bold-heading-dark{
//             font-weight: 600;
//             font-style: italic;
//             font-size: 2.5rem;
//             line-height: 10px;
//             color: #000000;
//             text-shadow: 0px 4px 4px rgba(11, 140, 132, 0.3);
//         }
//         .bold-heading-light{
//             font-weight: 200;
//             font-style: italic;
//             font-size: 2.5rem;
//             line-height: 10px;
//             color: #7D7D7D;
//             text-shadow: 0px 4px 4px rgba(11, 140, 132, 0.3);
//         }
//     }
// }

// .bottom-section{
//     margin-top: 8rem;
//     // display: flex;
//     h2{
//         font-size: 2rem;
//         color: #020516;
//         font-weight: 600;
//         text-align: center;
//     }
//     .context{
//         // padding: 5rem;
//         display: flex;
//         img {
//                 width: 100vw;
//                 height: 400px;
//                 // display: none;
        
//             }
//         p{
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             font-size: 1.472rem;
//             // padding: 6rem;
//             text-justify: distribute; 
//             line-height: 53px;

//         }
//     }
// }
   
// }


// @media screen and (max-width: 960px) {
//         .blog-page {
//             padding: 0 1.5rem 0 1.5rem;
//             // display: flex;

//             .top-section{
//                 .heading{
//                     text-align: left;
//                     .bold-heading-dark{
//                         font-weight: 600;
//                         font-size: 2rem;
//                         line-height: 1px;
//                     }
//                     .bold-heading-light{
//                         font-weight: 200;
//                         font-size: 2rem;
//                         line-height: 1px;
//                     }
//                     br {
//                         display: none;
//                       }
//                 }
//             }            
    
//             .bottom-section {
//                 margin-top: 4rem;
//                 text-align: center;
    
//                 // display: flex;
//                 h2 {
//                     font-size: 1.5rem;
//                     color: #020516;
//                     font-weight: 600;
//                     text-align: center;
//                     margin-bottom: 20px;
//                 }
    
//                 .context {
//                     padding: 0px;
//                     display: flex;
//                     flex-direction: column;
//                     line-height: 2px;
//                     // width: 100vw;
//                     text-align: center;
//                     img {
//                             height: 201px;
//                             width: 80vw;
//                             margin-top: 38px;
//                         }
//                     p {
//                         display: flex;
//                         justify-content: center;
//                         align-items: center;
//                         font-size: 1rem;
//                         padding: 20px;
//                         text-justify: distribute;
//                         // text-align: center;
//                     }
//                 }
//             }
    
//         }
// }