.hero{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-direction: row;

    position: relative;
    overflow-x: hidden;
  
    .left{
        width: 823px;
        margin: 100px 100px;
        .left-text{
            margin-bottom: 160px;
        }
        h3{
            width: 866px;
            height: 182px;
            font-weight: 600;
            font-size: 74px;
            line-height: 111px;
            text-shadow: 0px 4px 4px rgba(11, 140, 132, 0.3);

            .hero-sub-color{
                color: #17CDBA;
            }
        }
        ul {
            margin-top: 52px;
            width: 850px;
            height: 90px;
            padding-left: 0;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            list-style-type: none;
            .hero-list{
                padding-bottom: 24px;
            }
            .hero-tick{
                width: 26px;
                height: 26px;
                margin-left: 7px;
            }
        }

        .home-hero-button{
            width: 490px;
            height: 80px;
            background: #5441F3;
            border-radius: 9.00091e+17px;
            color: #eee;
            font-size: 20px;
            border: none;
            margin-top: 3.125rem;

            position: absolute;
            background: #5441F3;
            font-size: 20px;
            font-weight: 400;
            height: 50px;
            background: #5441F3;
            border-radius: 8px;
        }
    }
        
    .right{
        margin-top: 7rem;
        
        .main-image{
            width: 452px;
            height: 462px;
        }

        .mobile-img{
            display: none;
        }

        .elipse{
            position: absolute;
            margin-top: 38rem;
            margin-right: 25rem;
            width: 50px;
            height: 50px;
        }

        .sparkle{
            position: absolute;
            margin-top: -29rem;
            margin-left: -9rem;
            width: 120px;
            height: 120px;
        }
    }
}

 @media screen and (max-width: 1600px) {
.hero {
       

            .left {
                width: 623px ;
                margin: 100px 100px;
        
                h3 {
                    width: 576px;
                    height: 182px;
                    font-weight: 600;
                    font-size: 38px;
                    line-height: 72px;
                    
                }

                p {
                    margin-top: 120px;
                    width: 608px;
                    height: 151px;
                    font-weight: 400;
                    font-size: 30px;
                    line-height: 45px;
                }

                .home-hero-button{
                    width: 490px;
                    height: 80px;
                    background: #5441F3;
                    border-radius: 9.00091e+17px;
                    color: #eee;
                    font-size: 20px;
                    border: none;
                    margin-top: 3.125rem;

                    position: absolute;
                    background: #5441F3;
                    font-size: 20px;
                    font-weight: 400;
                    height: 50px;
                    background: #5441F3;
                    border-radius: 8px;
                }

            .right {
                .main-image {
                    width: 452px;
                    height: 462px;
                    margin-right: 40px;
                }
            }
       
        }
    }
 }


@media screen and (max-width: 960px) {
    .hero {
            flex-direction: column;
            padding: 0 1rem 0 1rem;
            background-repeat: no-repeat;
            // width: 100vw;
    .left {
        // width: 703px;
        // margin: 20px 20px;
       margin: 0 1rem 0 1rem;
        

        .left-text{
            justify-content: space-around;

            margin-top: 4rem;
            text-align: center;
            padding: 0;
            display: none;
            ul {
                .hero-list {
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 22px;
                    text-align: center;
                    margin: 0 1rem 0 1rem;

                }
                br {
                    display: none;
                }
            }
        }
        h3 {
            // width: 313px;
            // height: 85px;
            font-weight: 600;
            font-size: 24px;
            line-height: 68px;
            margin-bottom: 3rem;
            text-align: left;
        }

        .home-hero-button {
            width: 330px;
            height: 53px;
            background: #5441F3;
            border-radius: 8px;
            color: #eee;
            font-size: 18px;
            border: none;
            margin-top: 5px;
            margin-bottom: 50px;
          }
    }

        .right {
            // margin-top: 60px;            
            // background-image: url("../../assets/mobileHeroBg.png");
            // background-position: right bottom;
            // background-repeat: no-repeat;
            // background-size: contain;
            // width: 380px;
            // height: 389px;
    
            // margin-left: 0px;
            // .main-image {
            //     width: 352px;
            //     height: 362px;
            //     margin-right: 140px;
            // }

            .main-image{
                width: 230px;
                height: 329px;
                display: none;
               }
            .mobile-img {
                display: block;
                width: 322px;
                height: 312px;
                //margin-top: 150px;
                margin: 10rem 1rem 0 1rem;

                // width: 337.74px;
                // height: 296.92px;

            }
            .ellipse {
                display: none;
                position: absolute;
                margin-top: 41rem;
                margin-right: 25rem;
                width: 40px;
                height: 40px;
            }
        }
        
   }
}