header {
  h3 {
    background-color: #f8f8f8;
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: unset !important;
    padding: 4rem 0;
    text-align: center;
    line-height: 60px;
    -webkit-text-stroke: 1px #26272c;
    // padding-bottom: 3rem;
    .hero-sub-color {
      -webkit-text-stroke: 1px #17cdba;
      color: #17cdba;
    }
  }
  .hero {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
    // padding-bottom: 4rem;
    .pre-left {
      background-color: #f8f8f8;
      // padding: 4rem 0;
      .left {
        width: 90%;
        margin: 0 auto;
        .left-text {
          ul {
            padding-left: 0;
            text-align: center;
            li {
              font-size: 13px;
              color: #4b4c59;
              list-style-type: none;
              padding-bottom: 1rem;
              img {
                width: 20px;
              }
            }
          }
        }
      }
    }
    .right {
      position: relative;
      text-align: center;
      .main-image {
        display: none;
      }
      .mobileimg-container {
        width: 90%;
        position: relative;
        margin: 0 auto;
        img {
          width: 338px;
        }
        .mobileImg {
          position: absolute;
          left: 70px;
          top: 20px;
          width: 250px;
          border-radius: 5px;
          /* width: 100%; */
        }
      }
      .ellipse {
        display: none;
      }
      .sparkle {
        display: none;
      }
    }
  }
  .hero-btn-laptop {
    display: none;
  }
  .hero-btn-mobile {
    width: 90%;
    margin: 0 auto;
    padding: 1.5rem 0 3rem 0;
  }
}

.mobileimg-container {
  display: flex;
  justify-content: center;
  .mobileHeroImg {
    width: 300px !important;
  }
}

@media screen and (min-width: 1050px) {
  header {
    background-color: #f8f8f8;

    h3 {
      font-size: 80px !important;
      line-height: 2 !important;
      text-shadow: 0px 4px 4px rgba(11, 140, 132, 0.3) !important;
      padding: 5rem 0;
      width: 94%;
      margin: 0 auto;
    }
  }
  ul {
    li {
      line-height: 45px;
      font-size: 25px !important;
      padding-bottom: 1.3rem !important;
      text-align: start !important;
      img {
        width: 40px !important;
      }
    }
  }
  .hero {
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3rem;
    width: 94% !important;
    margin: 0 auto !important;
    .left {
      width: 100% !important;
      .left-text {
        width: 80%;
      }
    }
  }
  .hero-btn-laptop {
    display: unset !important;
    padding-bottom: 0;
    .book-btn {
      width: 70% !important;
    }
  }
  .hero-btn-mobile {
    display: none !important;
  }

  .right {
    position: relative;
    .mainimage-container {
      width: 100%;
      .hero-image1 {
        position: absolute;
        width: 500px;
        top: 10%;
        right: 10%;
      }
    }
  }
  .main-image {
    display: unset !important;
    width: 400px !important;
    margin-right: 0 !important;
  }
  .mainimage-container {
    width: 100%;
    // transform: translateX(5%);
    .main-image {
      width: 100%;
    }
  }
  .mobileimg-container {
    display: none !important;
  }
  // .ellipse {
  //   display: unset !important;
  //   position: absolute;
  //   left: 180px;
  //   bottom: -70px;
  //   // left: 0;
  // }
  // .sparkle {
  //   display: unset !important;
  //   width: 160px;
  //   position: absolute;
  //   top: 0;
  //   left: 0px;
  // }
  .pre-left {
    padding: unset !important;
  }
}
