.sub-section{
    display: flex;
    justify-content: center;

    .subscribe{
        display: grid;
        margin-top: 100px;
        padding: 20px 80px;
        margin-bottom: 30px;
        width: 1687px;
        height: 806px;
        background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.8) 100%);
        border-radius: 24px;
        justify-content: center;
        align-items: center;
       

        h3{
            margin-top: 30px;
            font-weight: 700;
            font-size: 38px;
            line-height: 72px;
            text-align: center;
            color: #FFFFFF;
        }
        .sub-mail{
            display: flex;
            justify-content: space-between;
            
            img{
               margin-left: -120px;
               margin-bottom: -85px;
               width: 570px;
               height: 408px;
            }

            .mail{
                // margin-right: 50px;
                margin: 40px 60px;
                p{
                    font-weight: 500;
                    font-size: 28px;
                    line-height: 48px;
                    color: #FFFFFF;
                    width: 783px;
                }
            }
            .input{
                margin-top: 30px;
                svg{
                    position: absolute;
                    margin-left: 30px;
                    margin-top: 25px;
                    font-size: 30px;
                }
                input{
                    width: 823px;
                    height: 80px;
                    border: none;
                    background: #FFFFFF;
                    border-radius: 4px;
                    padding: 30px 120px;
                    font-weight: 500;
                    font-size: 20px;
        
                    ::placeholder{
                        font-weight: 500;
                        font-size: 26px;
                        line-height: 54px;
                        color: rgba(0, 0, 0, 0.5);
                       
                     
                    }
                    
                }
                input:focus {
                    outline:none;
                }
                button{
                    display:inline-block;
                    width: 250px;
                    height: 70px;
                    background: #5441F3;
                    border-radius: 8px;
                    margin-left: -255px !important;
                    border: none;
                    color: #eee;
                    font-weight: 500;
                    font-size: 22px;
                    
                }
                
            }

        }

    }
}

@media screen and (max-width: 960px) {
    .sub-section {
        padding-left: 40px;
        margin-top: 50px;
            
    
            .subscribe {
                margin-top: 20px;
                padding: 20px 30px;
                margin-bottom: 0px;
                width: 547px;
                height: 436px;
                background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.8) 100%);
                border-radius: 24px;
                    
    
                h3 {
                    // margin-top: 30px;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 32px;
                    text-align: center;
                    color: #FFFFFF;
                    width: 377px;
                    margin-left: 35px;
                    margin-bottom: -60px;
                }
    
                .sub-mail {
                       
                    img {
                        margin-left: -120px;
                        margin-bottom: -85px;
                        width: 570px;
                        height: 408px;
                        display: none;
                    }
    
                    .mail {
                        // margin-right: 50px;
                        // margin: 70px 30px;
    
                        p {
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 28px;
                            color: #FFFFFF;
                            width: 383px;
                            text-align: center;
                            margin-left: -30px;
                        }
                    }
    
                    .input {
                        margin-top: 20px;
                        margin-left: -20px;
    
                        svg {
                            position: absolute;
                            margin-left: 10px;
                            margin-top: 25px;
                            font-size: 20px;
                            display: none;
                        }
    
                        input {
                            width: 343px;
                            height: 60px;
                            border: none;
                            background: #FFFFFF;
                            border-radius: 8px;
                            padding: 10px;
                            font-weight: 500;
                            font-size: 14px;
    
                            ::placeholder {
                                font-weight: 500;
                                font-size: 12px;
                                line-height: 54px;
                                color: rgba(0, 0, 0, 0.5);
    
    
                            }
    
                        }
    
                        input:focus {
                            outline: none;
                        }
    
                        button {
                            display: inline-block;
                            width: 100px;
                            height: 60px;
                            background: #5441F3;
                            border-radius: 8px;
                            margin-left: -100px !important;
                            margin-top: 3px;
                            border: none;
                            color: #eee;
                            font-weight: 600;
                            font-size: 15px;
    
                        }
    
                    }
    
                }
    
            }
        }
}