.navbar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 100px;
  width: 94%;
  margin: 0 auto;
  padding-bottom: 20px;
  position: relative;
}

.logo-container {
  display: flex;
  align-items: center;
  width: 114px;
}

.logo {
  width: 100%;
}

.menu.show {
  display: block;
}

.link {
  display: block;
  margin-bottom: 20px;
  color: #333;
  font-size: 18px;
  padding: 10px;
  display: block;
  text-decoration: none;
}
.link {
  color: black;
}

.link.active {
  font-weight: bold;
}

.toggler {
  display: block;
  color: #4169e1;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 24px;
  cursor: pointer;
}
.cancel-button {
  display: none;
  width: 43px;
  position: absolute;
  top: 50px;
  right: 0px;
  border: none;
  color: #4169e1;
  background-color: white;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.cancel-button.show {
  display: block;
}

.menu {
  display: none;
  width: 100%;
  position: absolute;
  top: 100px;
  right: 0px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.3s ease-in-out forwards;
  padding: 20px;
  // border-radius: 5px;
  div {
    text-align: center;
  }
}

.menu.show {
  display: block;
  z-index: 2;
}

.link.active {
  color: black;
}

@media only screen and (min-width: 1024px) {
  nav {
    padding-top: 2rem;
    .navbar {
      align-items: center !important;
      padding-bottom: 2rem;
    }
  }
  .logo-container {
    width: 20% !important;
  }
  .menu {
    display: flex;
    width: auto;
    position: static;
    background-color: transparent;
    box-shadow: none;
    animation: none;
    div {
      margin: 0 50px;
    }
  }
  .cancel-button {
    display: none;
  }
  .toggler {
    display: none;
  }
  .open-close {
    display: none;
  }
  .link {
    margin-bottom: unset;
    padding: unset;
    font-size: 1.5rem;
    display: block;
    margin-inline-end: 3rem;
    text-decoration: none;
    color: black;
    transition: all 0.2s ease-in-out;
    &::before {
      content: "";
      background: #5441f3;
      height: 2.5px;
      border-radius: 3px;
      width: 0;
      position: absolute;
      top: 40px;
      left: 0px;
      transition: all 0.2s ease-in-out;
      // left: -10px;
    }
    &:hover::before {
      width: 100%;
    }
    &:hover {
      color: black;
      font-weight: 600;
      transition: all 0.2s ease-in-out;
      scale: 1.1;
    }
  }
  .joinus {
    font-size: 1.5rem; 
  }
}
