.signupWrapper {
    display: flex;
    height: 730px;
    .leftContent {
        .logoContainer {
            img {
                width: 251px;
            }
        }
        p {
            color: #7D7D7D;
            font-size: 40px;
        }
        form {
            display: grid;
            grid-template-columns: auto auto;
            .form-group {
                label {
                    font-size: 32px;
                }
            }   
        }
    }
    .rightContent {
        // width: 100%;
        width: 50%;
        img {
            height: 100%;
            width: 900px;
        }
    }
}