.footer-section{
    display: flex;
    justify-content: center; 
    align-items: center; 

    .footer{
        padding: 80px;
        display: flex;
        justify-content: space-between; 
        align-items: center; 

        width: 1979px;
        height: 418px;    
        background: #FFFFFF;

       .left-section{
        display: grid;
        justify-content: start;
        align-items: flex-start;      

        .logo{
            // margin-left: 30px;
            li{
                font-weight: 700;
                font-size: 28px;
                line-height: 54px;
                list-style-type: none;
                
                img {
                        width: 240px;
                        height: 65px;
                    }
            }
    
        }
        p{
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            width: 458px;
            color: #4B4C59;
        }

        .socials{
            display: flex;
            margin-top: 20px;
                        
            svg{
                font-size: 30px;
                margin-right: 10px;                

            }
        }

       } 
       .right-section{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      

        .product{
            display: grid;
            justify-content: center;
            align-items: center;
            margin-right: 70px;

            h5{
                font-weight: 600;
                font-size: 1.3125rem;
                line-height: 51px;                
                color: #000000;
                margin-left: 30px;
            }
            ul{
                list-style-type: none;
                li{
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 36px;                    
                    color: #4B4C59;
                }
            }
        }
        .help{
            
        }
        
        .about{
            
        }
       }
    }

}


@media screen and (max-width: 960px) {
    .footer-section {
            display: grid;
            width: 100vw;
                
            .footer {
                padding: 10px;
                padding-top: 50px;
                display: grid;
                justify-content: space-between;
                align-items: center;
    
                width: 100vw;
                background: #FFFFFF;
    
                .left-section {
                    display: grid;
                    justify-content: start;
                    align-items: center;
    
                    .logo {
    
                        // margin-left: 30px;
                        li {
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 24px;
                            list-style-type: none;
                            text-align: center;
                            
    
                            img {
                                width: 125px;
                                 height: 50px;
                            }
                        }
    
                    }
    
                    p {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 24px;
                        width: 90vw;
                        color: #4B4C59;
                        text-align: center;
                    }
    
                    .socials {
                        display: flex;
                        margin-top: 0px;
                        margin-bottom: 50px;
                        align-items: center;
                        justify-content: center;
    
                        svg {
                            font-size: 30px;
                            margin-right: 10px;
    
                        }
                    }
    
                }
    
                .right-section {
                    display: grid;
                    justify-content: start;
                    align-items: center;
                    text-align: center;
    
    
                    .product {
                        display: grid;
                        justify-content: center;
                        align-items: center;
                        margin-right: 0px;
                        
    
                        h5 {
                            font-weight: 600;
                            font-size: 21px;
                            line-height: 36px;
                            color: #000000;
                            margin-left: 30px;
                        }
    
                        ul {
                            list-style-type: none;
                            margin-bottom: 30px;
                            margin-left: 30px;
    
                            li {
                                font-weight: 500;
                                font-size: 20px;
                                line-height: 36px;
                                color: #4B4C59;
                            }
                        }
                    }
    
                    .help {
                        // margin-left: 10px;
                    }
    
                    .about {}
                }
            }
    
        }

}