@import url("https://fonts.googleapis.com/css?family=Poppins");

// * {
//   text-decoration: none !important;
// }

body {
  font-family: 'Poppins';  
  font-style: normal;
  position: relative;
  overflow-x: hidden;
  width: 100vw;
  // font-size: 0.625rem;
  // background: pink;
}

// main {
//   width: 90%;
//   margin: 0 auto;
// }
